<div class="container wrapper">
  <div class="row">
    {{{header}}}
  </div>
  <div class="row">
    <div class="col-4">
      {{{sidebar}}}
    </div>
    <div class="col">
      {{{content}}}
    </div>
  </div>
</div>
